# Este arquivo de exemplo deve ser renomeado para secrets.toml
# O arquivo secrets.toml não deve ser versionado no GitHub por motivos de segurança.

[database]
# user = "admin"
# password = "sua-senha-segura"
# host = "localhost"
# port = 5432
# dbname = "saav_dados_bd"

[api_keys]
# openai_key = "sk-..."
# sendgrid_key = "SG...."
